In [10]:
import pandas as pd

In [12]:
dict2=[{"a":1,"b":2},{"a":4,"d":5,"c":5},{"a":4,"d":8,"c":1},{"a":2,"b":8,"c":4},{"a":6,"b":7,"c":2}]
df=pd.DataFrame(dict2)
df

   a    b    c    d
0  1  2.0  NaN  NaN
1  4  NaN  5.0  5.0
2  4  NaN  1.0  8.0
3  2  8.0  4.0  NaN
4  6  7.0  2.0  NaN

In [19]:
df.loc[1]

a    4.0
b    NaN
c    5.0
d    5.0
Name: 1, dtype: float64

In [20]:
df.loc[[1,3,4]]  #list of index

   a    b    c    d
1  4  NaN  5.0  5.0
3  2  8.0  4.0  NaN
4  6  7.0  2.0  NaN

In [21]:
df.loc[3,"c"]  #index label with specific column

4.0

In [22]:
df.loc[[3,2,4],['a','c']]

   a    c
3  2  4.0
2  4  1.0
4  6  2.0

In [23]:
df.loc[0:3,['a','c']]

   a    c
0  1  NaN
1  4  5.0
2  4  1.0
3  2  4.0

In [33]:
dict2=[{"a":1,"b":2},{"a":4,"d":5,"c":5},{"a":4,"d":8,"c":1},{"a":2,"b":8,"c":4},{"a":6,"b":7,"c":2}]
df=pd.DataFrame(dict2,index=["p","q","r","s","t"])
df

   a    b    c    d
p  1  2.0  NaN  NaN
q  4  NaN  5.0  5.0
r  4  NaN  1.0  8.0
s  2  8.0  4.0  NaN
t  6  7.0  2.0  NaN

In [31]:
df.loc['p':'s',['a','c']]

   a    c
p  1  NaN
q  4  5.0
r  4  1.0
s  2  4.0

In [32]:
df.iloc[0:3,[0,1]]

   a    b
p  1  2.0
q  4  NaN
r  4  NaN

In [34]:
df.loc[[True, False, False,True]]

   a    b    c   d
p  1  2.0  NaN NaN
s  2  8.0  4.0 NaN

In [35]:
df['a']>2

p    False
q     True
r     True
s    False
t     True
Name: a, dtype: bool

In [27]:
df.loc[df['a']>2]

   a    b    c    d
1  4  NaN  5.0  5.0
2  4  NaN  1.0  8.0
4  6  7.0  2.0  NaN

In [28]:
df.loc[df['a']>2,['a','b']]

   a    b
1  4  NaN
2  4  NaN
4  6  7.0

In [ ]:
iloc(integer loc)
**********************

In [36]:
df

   a    b    c    d
p  1  2.0  NaN  NaN
q  4  NaN  5.0  5.0
r  4  NaN  1.0  8.0
s  2  8.0  4.0  NaN
t  6  7.0  2.0  NaN

In [37]:
df.iloc[1]

a    4.0
b    NaN
c    5.0
d    5.0
Name: q, dtype: float64

In [38]:
df.loc[1]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [41]:
df.iloc[1]   # now it take the index 1

a    4.0
b    NaN
c    5.0
d    5.0
Name: 1, dtype: float64

In [40]:
df1.loc[1] #but loc is searching the value of 1 in index but i ll nt get.so output will be error

KeyError: 1

In [39]:
df.iloc[:,0]  #all rows and o index column

p    1
q    4
r    4
s    2
t    6
Name: a, dtype: int64

In [42]:
df

   a    b    c    d
p  1  2.0  NaN  NaN
q  4  NaN  5.0  5.0
r  4  NaN  1.0  8.0
s  2  8.0  4.0  NaN
t  6  7.0  2.0  NaN

In [40]:
df.iloc[[0,1]]

   a    b    c    d
p  1  2.0  NaN  NaN
q  4  NaN  5.0  5.0

In [43]:
df

   a    b    c    d
p  1  2.0  NaN  NaN
q  4  NaN  5.0  5.0
r  4  NaN  1.0  8.0
s  2  8.0  4.0  NaN
t  6  7.0  2.0  NaN

In [45]:
df.iloc[[True]]

   a    b   c   d
p  1  2.0 NaN NaN

In [47]:
df.iloc[[True,False,True]]

   a    b    c    d
p  1  2.0  NaN  NaN
r  4  NaN  1.0  8.0