In [ ]:
pandas dataframe
-----------------

# how to create data frame

In [1]:
import pandas as pd

In [2]:
emt_df=pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [3]:
lst=["a","b","c"]
df1=pd.DataFrame(lst)
df1
#(column)label is one and index are 3

   0
0  a
1  b
2  c

In [5]:
lst=[["a","b","c"],["d","e","f"],["g","h","i"]]
df1=pd.DataFrame(lst)
df1

   0  1  2
0  a  b  c
1  d  e  f
2  g  h  i

In [5]:
dict1={"Id":[1,2,4,5,6,7,8]}
df1=pd.DataFrame(dict1)
df1

   Id
0   1
1   2
2   4
3   5
4   6
5   7
6   8

In [6]:
dict1={"Id":[1,2,3],"SN":[1,2,3]}
df1=pd.DataFrame(dict1)
df1

   Id  SN
0   1   1
1   2   2
2   3   3

In [7]:
dict1={"Id":[1,2,3,4],"SN":[1,2,3]}
df1=pd.DataFrame(dict1)
df1  #output will error.bcse array must be same length

ValueError: arrays must all be same length

In [8]:
dict2=[{"a":1,"b":2},{"c":4,"d":5}]
df1=pd.DataFrame(dict2)
df1

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  NaN  NaN  4.0  5.0

In [14]:
dict2=[{"a":1,"b":2},{"a":4,"b":5}]
df1=pd.DataFrame(dict2)
df1

   a  b
0  1  2
1  4  5

In [10]:
dict2=[{"a":1,"b":2},{"a":4,"b":5,"e":5}]
df1=pd.DataFrame(dict2)
df1

   a  b    e
0  1  2  NaN
1  4  5  5.0

In [21]:
dict2={"a":pd.Series([1,2,3]),"b":pd.Series([1,2,3])}
df1=pd.DataFrame(dict2)
df1

   a  b
0  1  1
1  2  2
2  3  3

In [13]:
Name = ['tom', 'krish', 'nick', 'juli'] 
  

Age = [25, 30, 26, 22] 
  

l = list(zip(Name, Age))
  
print(l)

[('tom', 25), ('krish', 30), ('nick', 26), ('juli', 22)]

In [14]:
df1=pd.DataFrame(l)
df1

       0   1
0    tom  25
1  krish  30
2   nick  26
3   juli  22

In [ ]:
a="hhhhhhhhgj"
i