In [2]:
import pandas as pd

In [9]:
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv')

In [11]:
x.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [ ]:
By default the following values are interpreted as NaN: ‘’, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’, ‘-1.#QNAN’, ‘-NaN’, ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘<NA>’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’, ‘n/a’, ‘nan’, ‘null’.

In [ ]:
we can chnge any value to NAN

In [4]:
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',na_values=0)
x.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,NaN,9979.2,NaN,NaN,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,NaN,NaN,NaN,NaN,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,NaN,NaN,NaN,NaN,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,NaN,79520.76,NaN,NaN,79520.76,86854.48,NaN,NaN,NaN,NaN,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,NaN,254281.50,NaN,254281.5,254281.50,246144.49,NaN,NaN,NaN,NaN,30.060614,-81.702675,Residential,Wood,1

In [16]:
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',na_values=[0,'FL'])
x.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,NaN,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,NaN,9979.2,NaN,NaN,30.102261,-81.711777,Residential,Masonry,1
1,448094,NaN,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,NaN,NaN,NaN,NaN,30.063936,-81.707664,Residential,Masonry,3
2,206893,NaN,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,NaN,NaN,NaN,NaN,30.089579,-81.700455,Residential,Wood,1
3,333743,NaN,CLAY COUNTY,NaN,79520.76,NaN,NaN,79520.76,86854.48,NaN,NaN,NaN,NaN,30.063236,-81.707703,Residential,Wood,3
4,172534,NaN,CLAY COUNTY,NaN,254281.50,NaN,254281.5,254281.50,246144.49,NaN,NaN,NaN,NaN,30.060614,-81.702675,Residential,Wood,1

In [18]:
#specific column
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',na_values={"eq_site_limit":0})
x.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,NaN,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,NaN,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [19]:
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',na_values={"eq_site_limit":0,"fl_site_limit":0})
x.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,NaN,79520.76,NaN,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,NaN,254281.50,NaN,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [7]:
#if any place it written n/a or any other. then keep_default_na=False will show same 
x=pd.read_csv('data.csv',keep_default_na=False)
x

     Duration  Pulse  Maxpulse Calories
0          60    110       130    409.1
1          60    117       145    479.0
2          60    103       135    340.0
3          45    109       175    282.4
4          45    117       148    406.0
5          60    102       127    300.0
6          60    110       136    374.0
7          45    104       134    253.3
8          30    109       133    195.1
9          60     98       124    269.0
10         60    103       147    329.3
11         60    100       120    250.7
12         60    106       128    345.3
13         60    104       132    379.3
14         60     98       123    275.0
15         60     98       120    215.2
16         60    100       120    300.0
17         45     90       112
18         60    103       123    323.0
19         45     97       125    243.0
20         60    108       131    364.2
21         45    100       119    282.0
22         60    130       101    300.0
23         45    105       132    246.0
24         60    102       126    334.5
25         60    100       120    250.0
26         60     92       118    241.0
27         60    103       132
28         60    100       132    280.0
29         60    102       129    380.3
..        ...    ...       ...      ...
139        20    141       162    222.4
140        60    108       135    390.0
141        60     97       127
142        45    100       120    250.4
143        45    122       149    335.4
144        60    136       170    470.2
145        45    106       126    270.8
146        60    107       136    400.0
147        60    112       146    361.9
148        30    103       127    185.0
149        60    110       150    409.4
150        60    106       134    343.0
151        60    109       129    353.2
152        60    109       138    374.0
153        30    150       167    275.8
154        60    105       128    328.0
155        60    111       151    368.5
156        60     97       131    270.4
157        60    100       120    270.4
158        60    114       150    382.8
159        30     80       120    240.9
160        30     85       120    250.4
161        45     90       130    260.4
162        45     95       130    270.0
163        45    100       140    280.9
164        60    105       140    290.8
165        60    110       145    300.0
166        60    115       145    310.2
167        75    120       150    320.4
168        75    125       150    330.4

[169 rows x 4 columns]

In [25]:
#it will show bydefault values in pandas.all n/a or other to NAN
x=pd.read_csv('data.csv',keep_default_na=True)
x

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
..        ...    ...       ...       ...
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [23]:
#all NaN will chnge to blank
df=pd.read_csv("data.csv",na_filter=False)
df

     Duration  Pulse  Maxpulse Calories
0          60    110       130    409.1
1          60    117       145    479.0
2          60    103       135    340.0
3          45    109       175    282.4
4          45    117       148    406.0
5          60    102       127    300.0
6          60    110       136    374.0
7          45    104       134    253.3
8          30    109       133    195.1
9          60     98       124    269.0
10         60    103       147    329.3
11         60    100       120    250.7
12         60    106       128    345.3
13         60    104       132    379.3
14         60     98       123    275.0
15         60     98       120    215.2
16         60    100       120    300.0
17         45     90       112
18         60    103       123    323.0
19         45     97       125    243.0
20         60    108       131    364.2
21         45    100       119    282.0
22         60    130       101    300.0
23         45    105       132    246.0
24         60    102       126    334.5
25         60    100       120    250.0
26         60     92       118    241.0
27         60    103       132
28         60    100       132    280.0
29         60    102       129    380.3
..        ...    ...       ...      ...
139        20    141       162    222.4
140        60    108       135    390.0
141        60     97       127
142        45    100       120    250.4
143        45    122       149    335.4
144        60    136       170    470.2
145        45    106       126    270.8
146        60    107       136    400.0
147        60    112       146    361.9
148        30    103       127    185.0
149        60    110       150    409.4
150        60    106       134    343.0
151        60    109       129    353.2
152        60    109       138    374.0
153        30    150       167    275.8
154        60    105       128    328.0
155        60    111       151    368.5
156        60     97       131    270.4
157        60    100       120    270.4
158        60    114       150    382.8
159        30     80       120    240.9
160        30     85       120    250.4
161        45     90       130    260.4
162        45     95       130    270.0
163        45    100       140    280.9
164        60    105       140    290.8
165        60    110       145    300.0
166        60    115       145    310.2
167        75    120       150    320.4
168        75    125       150    330.4

[169 rows x 4 columns]

In [1]:
import pandas as pd

In [11]:
x=pd.read_csv('data.csv')

In [12]:
x.isnull()

     Duration  Pulse  Maxpulse  Calories
0       False  False     False     False
1       False  False     False     False
2       False  False     False     False
3       False  False     False     False
4       False  False     False     False
5       False  False     False     False
6       False  False     False     False
7       False  False     False     False
8       False  False     False     False
9       False  False     False     False
10      False  False     False     False
11      False  False     False     False
12      False  False     False     False
13      False  False     False     False
14      False  False     False     False
15      False  False     False     False
16      False  False     False     False
17      False  False     False      True
18      False  False     False     False
19      False  False     False     False
20      False  False     False     False
21      False  False     False     False
22      False  False     False     False
23      False  False     False     False
24      False  False     False     False
25      False  False     False     False
26      False  False     False     False
27      False  False     False      True
28      False  False     False     False
29      False  False     False     False
..        ...    ...       ...       ...
139     False  False     False     False
140     False  False     False     False
141     False  False     False      True
142     False  False     False     False
143     False  False     False     False
144     False  False     False     False
145     False  False     False     False
146     False  False     False     False
147     False  False     False     False
148     False  False     False     False
149     False  False     False     False
150     False  False     False     False
151     False  False     False     False
152     False  False     False     False
153     False  False     False     False
154     False  False     False     False
155     False  False     False     False
156     False  False     False     False
157     False  False     False     False
158     False  False     False     False
159     False  False     False     False
160     False  False     False     False
161     False  False     False     False
162     False  False     False     False
163     False  False     False     False
164     False  False     False     False
165     False  False     False     False
166     False  False     False     False
167     False  False     False     False
168     False  False     False     False

[169 rows x 4 columns]

In [13]:
x.isnull().sum()   #null value in each column detail

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [14]:
x.isnull().sum().sum()   #total number of null values

5

In [16]:
x.notnull()

     Duration  Pulse  Maxpulse  Calories
0        True   True      True      True
1        True   True      True      True
2        True   True      True      True
3        True   True      True      True
4        True   True      True      True
5        True   True      True      True
6        True   True      True      True
7        True   True      True      True
8        True   True      True      True
9        True   True      True      True
10       True   True      True      True
11       True   True      True      True
12       True   True      True      True
13       True   True      True      True
14       True   True      True      True
15       True   True      True      True
16       True   True      True      True
17       True   True      True     False
18       True   True      True      True
19       True   True      True      True
20       True   True      True      True
21       True   True      True      True
22       True   True      True      True
23       True   True      True      True
24       True   True      True      True
25       True   True      True      True
26       True   True      True      True
27       True   True      True     False
28       True   True      True      True
29       True   True      True      True
..        ...    ...       ...       ...
139      True   True      True      True
140      True   True      True      True
141      True   True      True     False
142      True   True      True      True
143      True   True      True      True
144      True   True      True      True
145      True   True      True      True
146      True   True      True      True
147      True   True      True      True
148      True   True      True      True
149      True   True      True      True
150      True   True      True      True
151      True   True      True      True
152      True   True      True      True
153      True   True      True      True
154      True   True      True      True
155      True   True      True      True
156      True   True      True      True
157      True   True      True      True
158      True   True      True      True
159      True   True      True      True
160      True   True      True      True
161      True   True      True      True
162      True   True      True      True
163      True   True      True      True
164      True   True      True      True
165      True   True      True      True
166      True   True      True      True
167      True   True      True      True
168      True   True      True      True

[169 rows x 4 columns]

In [17]:
x.notnull().sum()

Duration    169
Pulse       169
Maxpulse    169
Calories    164
dtype: int64

In [18]:
x.notnull().sum().sum()

671

In [20]:
 #series
import numpy as np
y=pd.Series([1,2,3,4,np.nan,np.NAN])
y

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    NaN
dtype: float64

In [21]:
y.isnull()

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [22]:
y.isnull().sum()

2

In [22]:
y.notnull()

0     True
1     True
2     True
3     True
4    False
5    False
dtype: bool

In [23]:
y.notnull().sum()

4