In [ ]:
 pandas series
----------------------

In [6]:
import pandas as pd

In [8]:
pd.__version__

'0.24.2'

In [9]:
#how to create series
x=[1,2,3,4,"hjgfh",5.6,-78]
print(x)

[1, 2, 3, 4, 'hjgfh', 5.6, -78]

In [14]:
series1=pd.Series(x)
series1

0        1
1        2
2        3
3        4
4    hjgfh
5      5.6
6      -78
dtype: object

In [15]:
type(series1)

pandas.core.series.Series

In [ ]:
#another way to create series

In [16]:
series1=pd.Series([1,2,3,4,"hjgfh",5.6,-78])
series1

0        1
1        2
2        3
3        4
4    hjgfh
5      5.6
6      -78
dtype: object

In [19]:
empty_s=pd.Series([])
empty_s

Series([], dtype: float64)

In [20]:
#chnge index. index must equal to the number of data
series1=pd.Series([1,2,3,4,"hjgfh",5.6,-78],index=["a","b","c","d","e","f","g"])
series1

a        1
b        2
c        3
d        4
e    hjgfh
f      5.6
g      -78
dtype: object

In [23]:
series1=pd.Series([1,2,3,4,5.6,-78],index=["a","b","c","d","e","f"],name="alok")
series1

a     1.0
b     2.0
c     3.0
d     4.0
e     5.6
f   -78.0
Name: alok, dtype: float64

In [27]:
series1=pd.Series([1,2,3,4,5.6,-78],index=["a","b","c","d","e","f"],dtype=object)
series1

a      1
b      2
c      3
d      4
e    5.6
f    -78
dtype: object

In [29]:
#scalar value series
x=pd.Series(0.5)
print(x)

0    0.5
dtype: float64

In [28]:
#scalar value series
x=pd.Series(0.5,index=[1,2,3])
print(x)

1    0.5
2    0.5
3    0.5
dtype: float64

In [30]:
#series using dict
dict_s=pd.Series({"a":1,"b":2,"c":3})
dict_s

a    1
b    2
c    3
dtype: int64

In [35]:
#access values
s=pd.Series([1,2,3,4,"hjgfh",5.6,-78])
print(s[0])
print("*****************")
print(s[5])
print("*****************")
print(s[1:5])
print("*****************")
print(s[:5])

1
*****************
5.6
*****************
1        2
2        3
3        4
4    hjgfh
dtype: object
*****************
0        1
1        2
2        3
3        4
4    hjgfh
dtype: object

In [37]:
s=pd.Series([1,2,3,45.6,-78])
max(s)

45.6

In [38]:
min(s)

-78.0

In [40]:
s[s>2]

2     3.0
3    45.6
dtype: float64

In [41]:
s1=pd.Series([1,2,3,45.6,-78])
s2=pd.Series([11,12,13,45,-178])
s1+s2

0     12.0
1     14.0
2     16.0
3     90.6
4   -256.0
dtype: float64

In [42]:
s1=pd.Series([1,2,3,45.6,-78])
s2=pd.Series([11,12,13])
s1+s2

0    12.0
1    14.0
2    16.0
3     NaN
4     NaN
dtype: float64