In [ ]:
pandas groupby 
***********************

In [ ]:
Any groupby operation involves one of the 
following operations on the orignal object:
    
    -spliting the object
    -applying a function
    -combining the result

In [1]:
import pandas as pd

In [8]:
dict2=[{"a":1,"b":2},{"a":4,"d":5,"c":5},{"a":4,"d":8,"c":1},{"a":2,"b":8,"c":4},{"a":4,"b":7,"c":2}]
df=pd.DataFrame(dict2,index=["p","q","r","s","t"])
df

   a    b    c    d
p  1  2.0  NaN  NaN
q  4  NaN  5.0  5.0
r  4  NaN  1.0  8.0
s  2  8.0  4.0  NaN
t  4  7.0  2.0  NaN

In [19]:
x=df.groupby(by='a')
x

In [20]:
x.groups

{1: Index(['p'], dtype='object'),
 2: Index(['s'], dtype='object'),
 4: Index(['q', 'r', 't'], dtype='object')}

In [21]:
y=df.groupby(['a','c'])
y.groups

{(1, nan): Index(['p'], dtype='object'),
 (2, 4.0): Index(['s'], dtype='object'),
 (4, 1.0): Index(['r'], dtype='object'),
 (4, 2.0): Index(['t'], dtype='object'),
 (4, 5.0): Index(['q'], dtype='object')}

In [24]:
for a,group in x:
    print(a)
    print(group)

1
   a    b   c   d
p  1  2.0 NaN NaN
2
   a    b    c   d
s  2  8.0  4.0 NaN
4
   a    b    c    d
q  4  NaN  5.0  5.0
r  4  NaN  1.0  8.0
t  4  7.0  2.0  NaN